---
- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Deploy Nginx config for EpicBook
  template:
    src: epicbook.conf.j2
    dest: /etc/nginx/sites-available/epicbook
    mode: '0644'

- name: Enable EpicBook site
  file:
    src: /etc/nginx/sites-available/epicbook
    dest: /etc/nginx/sites-enabled/epicbook
    state: link
    force: true

- name: Remove default site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Restart Nginx
  service:
    name: nginx
    state: restarted
    enabled: true
